/**********************************************CSS DOS FORMS********************************************************************************************/
/*ESPAÇAMENTO ENTRA CAMPOS DO FORMULÁRIO*/
.espaco{
    margin-top: 15px !important;
}
/***********FUNDO DO FORM*******/
.ui-widget .ui-dialog{
    padding: 0px !important;
    background: #f9f9f9 !important; 
    margin: 0px !important;
    border: none !important;
}
div.ui-dialog{
    /*background: #1293bb !important;*/ 
    padding: 0px;
    background:  #f9f9f9 !important;
    background-size: cover;
    background-attachment: fixed;
} 


.sobre-fundo{
    background:  #f9f9f9 !important;
    padding: 10px !important;
    border-radius: 3px !important;
}

/***********CABEÇALHO DO FORM*******/
.ui-widget .ui-dialog-titlebar{
    background: linear-gradient(41deg, #507ea3 20%, #253a4b 85%) !important;
    /*background: #1293bb !important;*/
    margin-left:  0px !important;
    margin-right:   0px !important;
    border: none !important;
    height: auto !important;

}

/***********TITULO DO FORM*******/
.ui-widget .ui-dialog-title{
    color: #fff !important;
    font-weight: bold !important;
    font-family: tahoma !important;
    margin: 0px !important;
    /*    text-shadow: #757575 0.1em 0.1em 0.2em !important;*/
    font-size: 15pt !important;
}

/***********COR DO ICONE MAIS DO FORM*******/
span .ui-icon-plus{
    color: #fff !important;
}

/***********ICONE MENOS DO FORM*******/
span.ui-icon-minus:before {
    font-family: FontAwesome;
    color: #fff;
    position: relative;
    font-size: 13.3px;
    padding: 0 4px;
    top: -9px;
    overflow: hidden;
    content: "\f068" !important;
}
/***********ICONE MAXIMIZAR DO FORM*******/
span.ui-icon-extlink:before {
    font-family: FontAwesome;
    color: #fff;
    position: relative;
    font-size: 13.3px;
    padding: 0 4px;
    top: -9px;
    overflow: hidden;
    content: "\f065" !important;
}

/***********ICONE FECHAR DO FORM*******/
span.ui-icon-closethick:before {
    font-family: FontAwesome;
    color: #fff;
    position: relative;
    font-size: 13.3px;
    padding: 0 4px;
    overflow: hidden;
    content: "\f00d" !important;
}

/*FONT EM TODOS COMPONENTES*/
.ui-fluid{
    font-family: Arial,sans-serif !important;
}
/*TITULO DO PANEL*/
.panel-heading,.panel-heading a{
    font-size: 12pt !important;
    color: #858585 !important;
    font-weight: bold !important;
    border: none !important;
    background: #dce2e9 !important;
    border-radius: 0px !important;
    font-weight: bold !important;
}
/*CORPO DO PANEL*/
.panel-body, .panel, .panel-default{
    background: transparent !important;
    border: none !important;
    border-bottom: 0px solid #ccc !important;
}
/*TAMANHO DO FORM*/
.tamanhoForm{
    width:auto !important;
    border: none !important;

}

/*BARRA DE BOTOES DO FORM*/
.barraBotoes{
    margin-top: 20px !important;
    background: linear-gradient(41deg,#253a4b  20%, #507ea3 85%) !important;
    /*background: #253a4b !important;*/
    border: none;
    border-radius: 0px 0px 10px 0px !important;
    height: 60px;
    position: fixed;
}

.btsalvar:hover{
    background: #8cc63f !important;
    color:#FFF !important;
}
.btsalvar:disabled, .btsair:disabled, .btconfigurar:disabled{
    background: #e5e5e5 !important;
    color: #fff !important;
}
.btsair:hover{
    background: #f37e72 !important;
    color:#FFF !important;
}
.btconfigurar:hover{
    background: #dfb777 !important;
    color: #fff !important;
}



.btsalvar, .btsair, .btconfigurar{
    font-size: 11pt !important;
    color: #f9f9f9 !important;
    border: none !important;
    font-family: Arial, sans-serif !important;
    background: transparent !important;
    border-radius: 0px !important;
    /*width: 150px;*/
    transition: all 0.2s;
    border-radius: 10px 0px 10px 0px !important;
}

/*COR DO PLACEHOLDER*/
input::placeholder {
    color: #bbb !important   ;
    text-transform: capitalize;
}

/*SELECTIONS*/
.ui-selectonemenu{
    color: #aaa !important;
    font-family: Arial, sans-serif !important;
    font-size: 11pt !important;
    background: #fff !important;
}

@media only screen and (max-width: 1024px) {
    .tamanhoForm1{
        width:100% !important;
    }
    .tamanhoForm2{
        width:100% !important;
    }

    .form-control{
        margin-bottom: 5px !important;
    }
    .btsalvar, .btsair, .btconfigurar, .btsalvar-desable, .btsalvar-desable, .btconfigurar-desable{
        margin-bottom: 5px !important;
    }
}

/*BOOTSTRAP*/
.form-control{
    text-transform: uppercase !important;
    font-size: 11pt !important;
    font-family: Arial, sans-serif !important; 
    color: #757575 !important;

}
/*MENSAGEM DE EXCLUIR*/
.ui-confirm-dialog .ui-dialog-content,.ui-confirm-dialog .ui-dialog-footer{
    background: #fff !important;
    margin-top: -5px !important ;
}

/*TABS FUNDO*/
.ui-tabs{
    background: #fff !important;
}

/*CAMPO DESTAQUE*/
.campo-destaque{
    font-size: 13pt !important;
    font-weight: bold !important;
}
.tamanhoForm1, .tamanhoForm2{
    border: none !important;
    margin-top: 20px !important;
}

.panel-heading{
    background: #f1f1f1 !important;
    color:#757575 !important;
}
label{
    color: #858585 !important;
    text-transform: capitalize;
    /*font-weight: bold !important;*/
    font-size: 9pt;
    margin-bottom: -5px;
}
.check{
    width: 20px;
    height: 20px;
    
}
input{
    border: 1px solid #ccc !important;
    outline: none !important
}/*
*/.form-control:focus{
    border-color: #42cbf4 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0,0, .075), 0 0 6px #42cbf4 !important; 
    outline: none !important;
}