
a:hover{
    text-decoration: none !important;
}
.fundoGrid{
    background: #f9f9f9;
    margin: 5px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.barraferramentas{

    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

/*BOTÕES DA GRID*/
.btnovo{
    background: #6eceec;;
}
.btfiltro{
    background: #f1cb27;
}
.btprint{
    background: #7891ab;
}
.btatualizar{
    background: #8CC63F;
}
.btnovo,.btfiltro,.btprint,.btatualizar{
    color: #fff !important;
    border: none !important;
    text-align: center !important;
    font-size: 15pt !important;
    padding-left: 5px;
    color: #757575;
}

/*BOTÕES DA TABELA*/
.btexcluir{
    background: #F37E72;
}
.bteditar{
    background: #7891ab;
}
.btexcluir, .bteditar{

    color: #fff !important;
    border: none !important;
    text-align: center !important;
    font-size: 10pt !important;
    border-radius: 5px !important;
    width: 25px !important;
    height: 25px !important;
    padding-top: 5px;
}
.btexcluir:hover, .bteditar:hover{
    text-decoration: none;
    color: #fff !important;
   
}
.btbusca{
    color: #6eceec !important;
}
.btnovo:hover,.btfiltro:hover,.btprint:hover,.btatualizar:hover{
    text-decoration: none;
    color: #fff;
   
}
.btnovo:focus,.btfiltro:focus,.btprint:focus{
    text-decoration: none;
    color: #fff;
}

.tamanhoForm{
    width:668px !important;
    border: none !important;
}
input{
    width: 300px;
}
table tbody tr,table tbody td{
    border: none !important;
    font-size: 9pt !important;
}

table{
    border: none !important;
    margin: 5px;
    border-radius: 5px;
}
table tbody tr:hover{
    background: #f5f5f5 !important;
}
/*table tbody tr td{
    height: 50px !important;
    padding: 10px !important;

}*/
.fundoGrid{
    padding: 10px !important;
}
.ui-widget .glyphicon-trash,.ui-widget .glyphicon-pencil{
    font-size: 10pt !important;
    width: 35px !important;
    text-align: center !important;
    margin-left: 5px !important;
}
table thead th{
    background: #ddd !important;
    border: none !important;
    border-radius: 0px !important;
    color: #757575 !important;
    text-shadow: 0 1px 1px transparent !important;
    text-decoration: none !important;
    font-family: tahoma;
    font-size: 10pt !important;
    padding: 5px !important;
}
.ui-datatable-tablewrapper {
    overflow: hidden !important;
}
table thead tr{
    border: none !important;
    background: #bbb !important;
}

.columnRight{
    text-align: right !important;
}

@media only screen and (max-width: 768px) {
    .tamanhoForm{
        width:100% !important;
    }
    .btnovo,.btfiltro,.btprint,.btatualizar, .btnovo:hover, .btfiltro:hover, .btprint:hover,.btatualizar:hover{
        width: 100% !important;
        margin-top: 5px !important;

    }
}
