
/****************  CSS DA GRID  *************************************************************************************/
*{
    font-family: Arial, sans-serif;
}
body{
    background: #fff !important;
}

a:hover{
    text-decoration: none !important;
}

/*BARRA LATERAL DE BOTÕES GRID*/
div .barraLateral{
    margin-top: 5px;
    padding-top: 2px;
    background: #f7f7f7;
    border-radius: 5px;
    height: 761px !important;
}
ul {
    list-style: none;
    padding: 3px;
}
li{
    margin-bottom: 5px;
}

/*BARRA DE PESQUISA DA GRID*/
.barraPesquisa{
    margin-top: 5px;
    background: linear-gradient(41deg, #fff 20%, #f5f5f5 61%, #7891ab 75%) !important;
    /*background: #7891ab !important;*/
    padding: 5px;
    border-radius: 5px 0px 0px 0px !important;
    text-align: right !important;
}


/*TITULO DO CABEÇALHO*/
.tituloGrid{
    color: #7891ab !important;
    text-align: left !important;
    font-size: 20pt;
    font-weight: bold;
    font-family: tahoma;
}

/*Tira borda da paginacao e deixa da mesma cor do formulario*/
.ui-paginator{
    background-color: #f9f9f9;
    border: none !important;
}
/*pinta o fundo da tabela*/
.ui-datatable-tablewrapper{
    background-color: #f9f9f9;
}





/*VALORESNA TEBELA*/
table tbody tr,table tbody td{
    border: none !important;
    font-size: 10pt !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 7px !important;
    padding-left: 7px !important;
    font-family: Arial, sans-serif;
    color: #959595;
}


/*BORDAS DA TEBLA*/
table{
    border: none !important;
    border-radius: 5px;
    margin-left: 3px;

}

/*COR DO HOVER NA TABELA*/
table tbody tr:hover{
    background: #eee !important;
}

.fundoGrid{
    padding: 10px !important;
}

.ui-widget .glyphicon-trash,.ui-widget .glyphicon-pencil, .fa-sitemap{
    font-size: 10pt !important;
    width: 35px !important;
    text-align: center !important;
    margin-left: 5px !important;
}
table thead th{
    background: #7891ab !important;
    border: none !important;
    border-radius: 0px!important;
    color: #f9f9f9 !important;
    text-shadow: 0 1px 1px transparent !important;
    text-decoration: none !important;
    font-family: tahoma;
    font-size: 10pt !important;
    padding: 5px !important;
    font-family: Arial, sans-serif;
}
.ui-datatable-tablewrapper {
    overflow: hidden !important;
}

table thead tr{
    border: none !important;
    background: #bbb !important;

}

.columnRight{
    text-align: right !important;
}

@media only screen and (max-width: 760px) {

    .btnovo,.btfiltro,.btprint,.btatualizar, .btnovo:hover, .btfiltro:hover, .btprint:hover,.btatualizar:hover{
        width: 100% !important;
        margin-top: 5px !important;

    }
    div .barraLateral{
        height: auto !important;
        width:  auto !important;
    }
    .ui-datatable-reflow{
        margin-top: 20px !important;
    }

    .alinhaPesquisa{
        text-align: left !important;
    }

    tr td .ui-column-title{
        border: none !important;
        background: #eee!important;
        color:#757575;
        padding: 2px !important;
        margin-top: 5px !important;
        border-radius: 3px 3px 0px 0px !important;
    }
}

/**********************************************CSS DOS FORMS********************************************************************************************/




/*ESPAÇAMENTO ENTRA CAMPOS DO FORMULÁRIO*/
.espaco{
    margin-top: 15px !important;
}

/***********FUNDO DO FORM*******/
.ui-widget .ui-dialog{
    padding: 0px !important;
    background: #FFF !important; 
    margin: 0px !important;
    border: none !important;

}
div.ui-dialog{
    background: #7891ab !important; 
    padding: 0px;
} 
.sobre-fundo{
    background: #fff !important;
    padding: 10px !important;
    border-radius: 3px !important;
}

/***********CABEÇALHO DO FORM*******/
.ui-widget .ui-dialog-titlebar{
    background: #7891ab !important;
    margin-left:  0px !important;;
    margin-right:   0px !important;;
    border: none !important;
    height: auto !important;

}

/***********TITULO DO FORM*******/
.ui-widget .ui-dialog-title{
    color: #fff!important;
    font-weight: bold !important;
    font-family: tahoma !important;
    margin: 0px !important;
}

/***********COR DO ICONE MAIS DO FORM*******/
span .ui-icon-plus{
    color: #fff !important;
}

/***********ICONE MENOS DO FORM*******/
span.ui-icon-minus:before {
    font-family: FontAwesome;
    color: #fff;
    position: relative;
    font-size: 13.3px;
    padding: 0 4px;
    top: -9px;
    overflow: hidden;
    content: "\f068" !important;
}
/***********ICONE MAXIMIZAR DO FORM*******/
span.ui-icon-extlink:before {
    font-family: FontAwesome;
    color: #fff;
    position: relative;
    font-size: 13.3px;
    padding: 0 4px;
    top: -9px;
    overflow: hidden;
    content: "\f065" !important;
}

/***********ICONE FECHAR DO FORM*******/
span.ui-icon-closethick:before {
    font-family: FontAwesome;
    color: #fff;
    position: relative;
    font-size: 13.3px;
    padding: 0 4px;
    overflow: hidden;
    content: "\f00d" !important;
}

/*FONT EM TODOS COMPONENTES*/
.ui-fluid{
    font-family: Arial,sans-serif !important;
}
/*TITULO DO PANEL*/
.panel-heading,.panel-heading a{
    font-size: 12pt !important;
    color: #858585 !important;
    font-weight: bold !important;
    border: none !important;
    background: #dce2e9 !important;
    border-radius: 0px !important;
    font-weight: bold !important;
}
/*CORPO DO PANEL*/
.panel-body, .panel, .panel-default{
    background: transparent !important;
    border: none !important;
    border-bottom: 0px solid #ccc !important;
}
/*TAMANHO DO FORM*/
.tamanhoForm{
    width:auto !important;
    border: none !important;

}
/*BARRA DE BOTOES DO FORM*/
.barraBotoes{
    margin-top: 5px !important;
    background: transparent !important;
    padding: 5px !important;
    border: none;
    border-radius: 5px !important;
}


/*COR DO PLACEHOLDER*/
input::placeholder {
    color: #a8d2da !important   ;
    text-transform: capitalize;
}

/*SELECTIONS*/
.ui-selectonemenu{
    color: #aaa !important;
    font-family: Arial, sans-serif !important;
    font-size: 11pt !important;
    background: #fff !important;
}

@media only screen and (max-width: 760px) {
    .tamanhoForm1{
        width:100% !important;
    }
    .tamanhoForm2{
        width:100% !important;
    }

    .form-control{
        margin-bottom: 5px !important;
    }
    .btsalvar, .btsair, .btconfigurar, .btsalvar-desable, .btsalvar-desable, .btconfigurar-desable{
        margin-bottom: 5px !important;
    }
}

/*BOOTSTRAP*/
.form-control{
    text-transform: uppercase !important;
    font-size: 11pt !important;
    font-family: Arial, sans-serif !important; 
    color: #757575 !important;

}
/*MENSAGEM DE EXCLUIR*/
.ui-confirm-dialog .ui-dialog-content,.ui-confirm-dialog .ui-dialog-footer{
    background: #fff !important;
    margin-top: -5px !important ;
}

/*TABS FUNDO*/
.ui-tabs{
    background: #fff !important;
}

/*CAMPO DESTAQUE*/
.campo-destaque{
    font-size: 13pt !important;
    font-weight: bold !important;
}
.tamanhoForm1, .tamanhoForm2{
    border: none !important;
    margin-top: 2% !important;
}