
/****************  CSS DA GRID  *************************************************************************************/
*{
    font-family: Arial, sans-serif;
}
body{
    /*background: #fff !important;*/
    
    
}

a:hover{
    text-decoration: none !important;
}

/*BARRA LATERAL DE BOTÕES GRID
div .barraLateral{
    margin-top: 5px;
    padding-top: 2px;
    background: #f7f7f7;
    border-radius: 5px;
    height: 767px !important;
}*/
ul {
    list-style: none;
    padding: 3px;
}
li{
    margin-bottom: 5px;
}

/*BARRA DE PESQUISA DA GRID*/
.barraPesquisa{
    margin-top: 5px;
    background: linear-gradient(41deg, #507ea3 20%, #253a4b 85%) !important;
    padding: 5px;
    border-radius: 0px 0px 10px 0px !important;
    text-align: right !important;

}
.campo-pesquisa{
   margin-top: 8px;
}

.data{
    margin-top: 10px;
    text-align: right;
    color: #fff;
    font-size: 10pt;
    text-decoration: none !important;
}

/*TITULO DO CABEÇALHO*/
.tituloGrid{
    color: #fff !important;
    text-align: left !important;
    font-size: 20pt;
    font-weight: bold;
    font-family: tahoma;
    /*text-shadow: #757575 0.1em 0.1em 0.2em !important;*/
}

/*Tira borda da paginacao e deixa da mesma cor do formulario*/
.ui-paginator{
    background-color: #f9f9f9;
    border: none !important;
}
/*pinta o fundo da tabela*/
.ui-datatable-tablewrapper{
    background-color: #f9f9f9;
}

/*VALORES NA TEBELA*/
table tbody tr,table tbody td{
    border: 1px #f1f1f1!important;
    font-size: 10pt !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 7px !important;
    padding-left: 7px !important;
    font-family: Arial, sans-serif;
    color: #757575;
    background: transparent !important;
}

/*BORDAS DA TEBLA*/
table{
    border: none !important;
    border-radius: 5px;
    margin-left: 3px;
    margin-top: 20px;
    
}

/*COR DO HOVER NA TABELA*/
table tbody tr:hover{
    background: #E3F2FD !important;
}

.fundoGrid{
    padding: 10px !important;
}

table thead th{
    background: #f9f9f9 !important;
    border: none !important;
    border-radius: 0px!important;
    color: #757575 !important;
    font-size: 10pt !important;
    padding: 5px !important;
    font-family: Arial, sans-serif;
    text-decoration: none !important;
}
.ui-datatable-tablewrapper {
    overflow: hidden !important;
}


table thead tr{
    border: none !important;
    background: #bbb !important;

}

.columnRight{
    text-align: right !important;
}

/************BOTÕES DA TABELA****************/
.btexcluir:hover{
    background: transparent;
    color: #F37E72;
}

.bteditar:hover{
    background: transparent;
    color: #6eceec;
}
.btsub:hover{
    background: transparent;
    color: #fdc006;
}
.btexcluir, .bteditar, .btsub{
    border: none !important;
    text-align: center !important;
    font-size: 15pt !important;
    border-radius: 5px !important;
    width: 35px !important;
    height: 25px !important;
    padding-top: 3px;
    color:#888;
    text-decoration: none !important;
}
.btexcluir:hover, .bteditar:hover, .btsub:hover{
    text-decoration: none !important;
}

.btnovo:hover,.btfiltro:hover,.btprint:hover,.btatualizar:hover{
    text-decoration: none !important;
}

.btnovo-desable:hover,.btfiltro-desable:hover,.btprint-desable:hover,.btatualizar-desable:hover{
    text-decoration: none !important;
    color: #00E676;
}

/***********BOTÕES DA LATERAL DA GRID*****************/

.btnovo:disabled, 
.btfiltro:disabled,
.btprint:disabled, 
.btatualizar:disabled{
    color: #e5e5e5;
}
.btnovo,.btfiltro,.btprint,.btatualizar{
    border: none !important;
    text-align: center !important;
    font-size: 20pt !important;
    color: #fff !important;
    width: auto !important;
    background: transparent;
}

.btbusca{
    color: #6eceec !important;
}

@media only screen and (max-width: 1024px) {

    .btnovo,.btfiltro,.btprint,.btatualizar, .btnovo:hover, .btfiltro:hover, .btprint:hover,.btatualizar:hover{
        width: 100% !important;
        margin-top: 5px !important;

    }
    div .barraLateral{
        height: 200px !important;
        width:  auto !important;
    }
    .ui-datatable-reflow{
        margin-top: 20px !important;
    }

    .alinhaPesquisa{
        text-align: left !important;
    }

    tr td .ui-column-title{
        border: none !important;
        background: #eee!important;
        color:#757575;
        padding: 2px !important;
        margin-top: 5px !important;
        border-radius: 3px 3px 0px 0px !important;
    }
}
.fundo-transparente{
    /*background: url(../resources/imagens/blur.jpg) !important;*/
}
