
/*POSIÇÃO DA ABA*/
.right-tabs .nav {
    float: right;
    margin-top: 0px;
}

/*DISTANCIA DO IFRAME PARA O TOPO*/
#iframe{
    margin-top:-20px;

}
.nav-tabs > li {
    float: left;
    margin-bottom: 14px;
    margin-right: 0px;
}

/*RESPONSIVIDADE DO CONTEÚDO*/
iframe#conteudo{
    background-size :cover;
    background-position : center;
    background-attachment: fixed;

}




#tabs ul .active a{
    background:#7891ab; 
    border:none;
    color:#f9f9f9;
    font-weight:bold;

}


#tabs ul .active a:hover{
    background:#7891ab; 
    border:none;
    color:#fff;
}

#tabs ul {
    border:none;

}

#tabs ul a{
    color:#aaa;
    border:none;
    background: #D5D5D5;
}

#tabs ul a:hover{
    color:#f9f9f9;
    border:none;
    background: #d1d1d1;
    cursor:pointer;
}
iframe{
    border:none;
    height: 760px;
}

.close{
    background: transparent !important;
    padding: 2px !important;
    width: 25px;
    color:#fff !important;
    border-radius: 3px;

}

.close:hover{
    background:  transparent !important;
    padding: 2px !important;
    width: 25px;
    color:#fff !important;
    border-radius:3px;
    z-index: -1;

}
